.slider{
    margin-top: 100px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30%;
    height: 220px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.btn-container{
    display: flex; /* Set display property to flex */
  justify-content: center; /* Center align items horizontally */
  gap: 1rem; /* Add some gap between the buttons */
}


.button-nex, .button-pre {
    color: #1d3557;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin: 10px;
    background: #fff;
    border: #fff solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
} 